//- script.
//-   var _hmt = _hmt || [];
//-   (function() {
//-   var hm = document.createElement("script");
//-   hm.src = "https://hm.baidu.com/hm.js?76f4d42d592069b56b92b7c63c3a71fc";
//-   var s = document.getElementsByTagName("script")[0];
//-   s.parentNode.insertBefore(hm, s);
//-   })();
//- |     
script(src="https://cdn.bootcss.com/mdui/0.4.0/js/mdui.min.js")
script(src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js")
script(src="./javascripts/core.js")
