.mdui-container
  .mdui-appbar.mdui-appbar-fixed.mdui-color-white
    .mdui-tab.mdui-tab-full-width.mdui-ripple-pink(mdui-tab="")
      a.mdui-ripple.mdui-tab-active(href="#")
        i.mdui-icon.material-icons home
        |                     
        label home
      |                 
      a.mdui-ripple(href="#")
        i.mdui-icon.material-icons comment
        |                     
        label talk